*{
    margin: 0;
    padding: 0;
    font-family: 'SF UI Display';
    font-weight: normal;
    font-style: normal;
}
.nomar-nopad {
    margin: 0;
    padding: 0;
}
.p-this{
    font-size: 38px;
    color: #F36F3F;
}
.h1-class {
    font-size: 80px;
    color: #F36F3F;
    margin: -45px 0 20px;
}
.body-back{
    background-image: url("../img/back.png");
    background-size: 100%;
    margin: 30px 0 0 0;
}
.div-text{
    text-align: center;
    width: 100%;
}
.right-text{
    font-size: 18px;
    color: #000000;
    margin: 0;
}
.align-class{
    align-items: center;
}
.pdd{
    padding: 10px 0 10px 40px;
}
.nopad{
    padding: 0;
}
.icon-img {
    width: 80%;
    height: auto;
}
.next-to-btn{
    background: #D6D8D7;
    color:#000000;
    font-size: 22px;
    font-family: 'SF UI Display';
    font-weight: 500;
    font-style: normal;
    padding: 10px 100px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.3);
}
.btn-top{
    width: 100%;
    text-align: center;
    margin-top: 60px;
}
.container {
    max-width: 500px;
}